body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    color: white;
}

.header {
    height: 72px;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.righthead {
    display: flex;
    gap: 16px;
}

.description {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.description .left {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.description button {
    border-style: none;
    border-radius: 5px;
    padding: 5px;
}

.description img {
    padding: 36px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
    gap: 24px;
}

.information .infotop {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.information .infoimgs {
    display: flex;
    gap: 16px;
}

.imgcontainer {
    display: flex;
    flex-direction: column;
}

.information img {
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 36px;
}

.quote .quotetop {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
/*
.quote .quoteattr {
    commented out for later use
}
*/ 
.signup {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    margin: 100px;
    align-items: center;
    border-radius: 20px;
}

.signup .signupleft {
    display: flex;
    flex-direction: column;
}

.signup .signupright {
    margin: 75px;
}

.signup button {
    border: 2px solid white;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    color: #F9FAF8;
    background-color: #1F2937;
}

#headerlogo {
    font-size: 24px;
    color: #F9FAF8;
}

#maintext {
    color: #F9FAF8;
    font-weight: bolder;
    font-size: 48px;
}

#subtext {
    color: #F9FAF8;
    font-size: 18px;
}

